/* body {
  font-size: 0.97vw;
}
.v7_6228 {
  width: 101%;
  height: 982px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: -0.5rem;
  overflow: hidden;
}
.v7_6230 {
  width: 109px;
  height: 37px;
  background: url("../images/v7_6230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 1372px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v7_6233 {
  width: 141px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 160px;
  left: 88px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_6234 {
  width: 141px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 160px;
  left: 287px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_6235 {
  width: 141px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 160px;
  left: 486px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_6236 {
  width: 141px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 160px;
  left: 685px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_6237 {
  width: 141px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 160px;
  left: 884px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_6238 {
  width: 141px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 160px;
  left: 1096px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_6239 {
  width: 141px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 160px;
  left: 1282px;
  font-family: Hanuman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_6240 {
  width: 674px;
  height: 363px;
  background: url("../images/v7_6240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v7_6241 {
  width: 674px;
  height: 363px;
  background: url("../images/v7_6241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 798px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v7_6242 {
  width: 674px;
  height: 363px;
  background: url("../images/v7_6242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 619px;
  left: 40px;
  overflow: hidden;
}
.v7_6243 {
  width: 154px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 258px;
  left: 930px;
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_6244 {
  width: 154px;
  color: rgba(177, 66, 66, 1);
  position: absolute;
  top: 699px;
  left: 948px;
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_6245 {
  width: 674px;
  height: 363px;
  background: url("../images/v7_6245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 619px;
  left: 798px;
  overflow: hidden;
}
.v7_6246 {
  width: 197px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 288px;
  left: 52px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_6247 {
  width: 197px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 769px;
  left: 502px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_6248 {
  width: 108px;
  color: rgba(255, 4, 4, 1);
  position: absolute;
  top: 503px;
  left: 606px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_6249 {
  width: 108px;
  color: rgba(255, 4, 4, 1);
  position: absolute;
  top: 817px;
  left: 502px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_6250 {
  width: 93px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 524px;
  left: 606px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v7_6251 {
  width: 93px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 838px;
  left: 502px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v7_6252 {
  width: 82px;
  color: rgba(255, 1, 1, 1);
  position: absolute;
  top: 258px;
  left: 1261px;
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_6253 {
  width: 75px;
  color: rgba(10, 10, 10, 1);
  position: absolute;
  top: 278px;
  left: 1254px;
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v7_6254 {
  width: 173px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 641px;
  left: 1180px;
  font-family: Hanuman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v7_6255 {
  width: 140px;
  background: url("../images/v7_6255.png");
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 1512px;
  border: 3px solid rgba(0, 0, 0, 1);
}
.v7_6256 {
  width: 230px;
  background: url("../images/v7_6256.png");
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 1512px;
  border: 3px solid rgba(0, 0, 0, 1);
} */

.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 3vw;
}

.item-container-1 {
  width: 47vw;
  height: 28vw;

  background: url("../assets/piano.svg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-container-2 {
  width: 47vw;
  height: 28vw;

  background: url("../assets/ukulele.svg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-container-3 {
  width: 47vw;
  height: 28vw;

  background: url("../assets/homeGuitar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.item-container-4 {
  width: 47vw;
  height: 28vw;

  background: url("../assets/ProAVL.svg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
