/* ===========================
   ====== Search Box ====== 
   =========================== */
/*
.search {
  border: 2px solid white;
  opacity: 20;
  max-width: 367px;
  overflow: auto;
  border-radius: 5px;
}

.placeholder {
  text-align: left;
}

.search input[type="text"] {
  border: 0px;
  width: 67%;
  padding: 10px 10px;
}

.search input[type="text"]:focus {
  outline: 0;
}


@media only screen and (min-width: 150px) and (max-width: 780px) {
  .search {
    width: 95%;
    margin: 0 auto;
  }
} */

body {
  padding: 0;
  margin: 0;
  font-family: Hanuman;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.measure {
  max-width: 30em;
  padding-top: 3.5rem;
  padding-left: 1.2vw;
  display: flex;
}

.search {
  border: none;
  background-color: #f3f3f385;
  display: block;
  border-radius: 0.5rem;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18vw;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.search::placeholder {
  text-align: center;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 18vw;
  margin-left: 20vw;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.profile {
  padding-top: 2.5rem;
}

.nav-bar {
  width: 100vw;
  height: 3.5rem;
  background: rgba(8, 8, 8, 1);
  overflow: hidden;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.nav-text {
  position: relative;
}
