@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: Hanuman;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.measure {
  max-width: 30em;
  padding-top: 3.5rem;
  padding-left: 1.4vw;
  display: flex;
}

.search {
  border: none;
  background-color: #f3f3f385;
  display: block;
  border-radius: 0.5rem;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18vw;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.search::placeholder {
  text-align: center;
}

.mobile-search {
  display: none;
}

.delivery-measure {
  max-width: 35em;
  padding-top: 3.5rem;
}

#promo.delivery-measure {
  max-width: 35em;
  padding-top: 1.5rem;
}

.delivery-search {
  border: none;
  background-color: #f3f3f385;
  border-radius: 0.5rem;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20vw;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.delivery-search::placeholder {
  text-align: center;
}

.logo {
  height: auto;
  max-width: 18vw;
  margin-left: 23.5vw;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.profile {
  padding-top: 4rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.fa-user {
  margin-right: 0.5rem;
}

.fa-user:hover {
  opacity: 0.7;
}

.fa-shopping-bag:hover {
  opacity: 0.7;
}

.nav-bar {
  width: 100vw;
  height: 3.5rem;
  background: rgba(8, 8, 8, 1);
  overflow: hidden;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.nav-text {
  position: relative;
  cursor: pointer;
  padding-top: 1rem;
  text-decoration: none;
  color: white;
}

.nav-text:hover {
  opacity: 0.6;
}

.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  max-width: 12.5rem;
  border: black;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}

#qty.dropbtn {
  min-width: 12.5vw;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #f2f5f7;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
}

#relevancy.dropdown {
  padding-right: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: center;
}

.show {
  display: block;
  width: 13.5vw;
}

.newShow {
  display: block;
  min-width: 12.5vw;
}

.icon-down {
  margin-left: 2vw;
}

.unselected-button {
  border-style: solid;
  border-color: #000;
  min-width: 12vw;
  color: #000;
  border-width: 2px;
  background: none;
  display: inline-block;
  text-decoration: none;
  transition: color 0.15s ease-in;
  cursor: pointer;
  border-radius: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.unselected-button:hover {
  transition: color 0.15s ease-in;
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.unselected-button:active {
  transition: color 0.15s ease-in;
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

.selected-button {
  border-style: solid;
  min-width: 12vw;
  border-color: #000;
  color: white;
  border-radius: 0.25rem;
  background: black;
  display: inline-block;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  opacity: 1;
}

#checkout.selected-button {
  min-width: 20vw;
}

#final-confirm.selected-button {
  min-width: 28vw;
}

.product-container {
  display: flex;
  flex-direction: row;
}

.items-container {
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 12vw;
}

#confirmation-page.items-container {
  padding-left: 3vw;
  padding-right: 0;
}

#checkout-page.items-container {
  padding-left: 3vw;
  padding-right: 2vw;
}

.cart-item-container {
  padding-top: 3rem;
}

#classic.cart-item-container {
  padding-top: 0.5rem;
}

.cart-item-title {
  margin: 0;
}

.image-detail-container {
  display: flex;
  flex-direction: row;
}

.image-item-container {
  width: 17vw;
  height: 17.5vw;
}

#vintage1980.image-item-container {
  background: url("./assets/vintage1980.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#classic.image-item-container {
  background: url("./assets/classicGuitar.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.price {
  padding-left: 17.5vw;
  font-size: 1rem;
  font-weight: 700;
}

.color-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#qty.color-container {
  padding-left: 5vw;
  gap: 2rem;
}

.divider {
  max-height: 80vh;
}

.details-container {
  margin-left: 4vw;
  text-align: center;
  min-width: 36vw;
}

.summary-text {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2vh;
}

#confirmation.summary-text {
  margin-top: 1vw;
  margin-bottom: 0;
}

#address.summary-text {
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 0;
}

.shipping-text {
  display: flex;
  flex-direction: row;
  opacity: 0.8;
  justify-content: space-around;
}

.payment-details-rectangle {
  width: 28vw;
  min-height: 10.5vw;
  margin-left: 4vw;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  border-style: none;
  border-radius: 0.5rem;
}
.details-text {
  margin: 0;
  font-size: 0.75rem;
  text-align: left;
  padding-left: 1vw;
}

#top.details-text {
  padding-top: 1vw;
}

#divider.details-text {
  padding-bottom: 2vw;
}

.icon {
  margin-left: 14vw;
  max-width: 1vw;
  margin-top: 4.5vw;
}

.checked-container {
  padding-left: 3.5rem;
  display: flex;
  gap: 1.5vw;
  margin-bottom: 0;
}

.card-details-container {
  background-color: #f5f5f5;
  min-height: 1.5vw;
  margin-left: 4vw;
  width: 28vw;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  padding-left: 0.5vw;
}

.mastercard {
  margin-top: 1.5rem;
  margin-right: 0;
}
.mastercard-text {
  display: flex;
  flex-direction: column;
}

.card-name {
  font-size: 0.825rem;
  color: #868e96;
  margin-bottom: 0;
}

.card-number {
  font-size: 0.9rem;
  margin-top: 0.5vw;
  padding-right: 3rem;
}

.topnav {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-search-container {
    padding-top: 1rem;
    padding-left: 3vw;
  }

  .mobile-search {
    display: block;
    border: none;
    background-color: #f3f3f385;
    display: block;
    border-radius: 0.5rem;
    opacity: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 90vw;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .mobile-search::placeholder {
    text-align: center;
  }

  .search {
    display: none;
  }

  .nav-bar {
    display: none;
  }
}
