/* ===========================
   ====== Search Box ====== 
   =========================== */
/*
.search {
  border: 2px solid white;
  opacity: 20;
  max-width: 367px;
  overflow: auto;
  border-radius: 5px;
}

.placeholder {
  text-align: left;
}

.search input[type="text"] {
  border: 0px;
  width: 67%;
  padding: 10px 10px;
}

.search input[type="text"]:focus {
  outline: 0;
}


@media only screen and (min-width: 150px) and (max-width: 780px) {
  .search {
    width: 95%;
    margin: 0 auto;
  }
} */

body {
  padding: 0;
  margin: 0;
  font-family: Hanuman;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.measure {
  max-width: 30em;
  padding-top: 3.5rem;
  padding-left: 1.4vw;
  display: flex;
}

.search {
  border: none;
  background-color: #f3f3f385;
  display: block;
  border-radius: 0.5rem;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18vw;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.search::placeholder {
  text-align: center;
}

.delivery-measure {
  max-width: 35em;
  padding-top: 3.5rem;
}

#promo.delivery-measure {
  max-width: 35em;
  padding-top: 1.5rem;
}

.delivery-search {
  border: none;
  background-color: #f3f3f385;
  border-radius: 0.5rem;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20vw;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.delivery-search::placeholder {
  text-align: center;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 18vw;
  margin-left: 21.5vw;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.profile {
  padding-top: 2.5rem;
}

.nav-bar {
  width: 100vw;
  height: 3.5rem;
  background: rgba(8, 8, 8, 1);
  overflow: hidden;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.nav-text {
  position: relative;
}

.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 1rem;
  font-size: 1rem;
  max-width: 12.5rem;
  border: black;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}

#qty.dropbtn {
  min-width: 12.5vw;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #f2f5f7;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
}

#relevancy.dropdown {
  padding-right: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: center;
}

.show {
  display: block;
  width: 12.5rem;
}

.newShow {
  display: block;
  min-width: 12.5vw;
}

.icon-down {
  margin-left: 2rem;
}

.unselected-button {
  border-style: solid;
  border-color: #000;
  min-width: 12vw;
  color: #000;
  border-width: 2px;
  background: none;
  display: inline-block;
  text-decoration: none;
  transition: color 0.15s ease-in;
  cursor: pointer;
  border-radius: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.unselected-button:hover {
  transition: color 0.15s ease-in;
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.unselected-button:active {
  transition: color 0.15s ease-in;
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

.selected-button {
  border-style: solid;
  min-width: 12vw;
  border-color: #000;
  color: white;
  border-radius: 0.25rem;
  background: black;
  display: inline-block;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  opacity: 1;
}

#checkout.selected-button {
  min-width: 20vw;
}
