.search-header {
  display: flex;
  flex-direction: row;
}

.star {
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
}

.search-result {
  padding-left: 0.5rem;
  font-size: 1.75rem;
}

.total-items {
  padding-left: 94vw;
  position: absolute;
  color: #666666;
  font-size: 0.875rem;
  padding-top: 1rem;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pickup-container {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
}

.pickup-text {
  padding-left: 0.4rem;
  font-size: 0.875rem;
}

.product-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 7vw;
  padding-left: 5vw;
}

.item-container {
  width: 17vw;
  height: 17.5vw;

  cursor: pointer;
}

#vintage.item-container {
  background: url("../assets/vintageGuitar.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#vintage1980.item-container {
  background: url("../assets/vintage1980.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#classic.item-container {
  background: url("../assets/classicGuitar.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#electric.item-container {
  background: url("../assets/electricGuitar.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.product-color-container {
  display: flex;
  flex-direction: row;
  gap: 0.75vw;
  padding-left: 1.5vw;
  padding-top: 0.7rem;
}

.product-color {
  border-radius: 100%;
  background-color: black;
  height: 1.5vw;
  width: 1.5vw;
}

#brown.product-color {
  background: #3e0b0b;
}

#grey.product-color {
  background: #ccc9c9;
}

#green.product-color {
  background: #a4bd00;
}

#red.product-color {
  background: #921a1a;
}

#cyan.product-color {
  background: #3498db;
}

#mustard.product-color {
  background: #e7973b;
}

#orange.product-color {
  background: #f94444;
}

#olive.product-color {
  background: #07260e;
}

#blue.product-color {
  background: #0c60dd;
}

.availability-text {
  font-size: 1.15vw;
  font-weight: 700;
  margin: 0;
  padding-top: 1vw;
  padding-bottom: 0.75vw;
}

#red.availability-text {
  color: #ff0202;
}

#green.availability-text {
  color: #33fd01;
}

#mustard.availability-text {
  color: #e7973b;
}

h3,
h4 {
  font-size: 1.45vw;
  margin: 0;
}

h4 {
  font-size: 1.15vw;
}

.mobile-product-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 7vw;
}

/* Large Tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .total-items {
    padding-left: 90vw;
  }
  .show {
    width: 23vw;
  }
}

/* Tablets */
@media only screen and (max-width: 600px) {
  .mobile-product-container {
    display: flex;
    justify-content: space-around;
  }

  .product-container {
    flex-direction: column;
  }

  .item-container {
    width: 24vw;
    height: 27.5vw;
  }

  .total-items {
    padding-left: 86vw;
  }
}

/* Most phones */
@media only screen and (min-width: 375px) and (max-width: 428px) {
  .mobile-product-container {
    display: flex;
    justify-content: space-around;
  }

  .show {
    width: 40.5vw;
  }

  .product-container {
    flex-direction: column;
  }

  .item-container {
    width: 30vw;
    height: 36.5vw;
  }

  .dropbtn {
    width: 41vw;
    padding: 0.5rem;
  }

  .dropdown-content span {
    padding: 4px 6px;
  }

  .total-items {
    padding-left: 81vw;
  }
}

/* Small phones */
@media only screen and (max-width: 375px) {
  .mobile-product-container {
    display: flex;
    justify-content: space-around;
  }

  .product-container {
    flex-direction: column;
  }

  .item-container {
    width: 34vw;
    height: 38.5vw;
  }

  .dropdown-content span {
    padding: 4px 6px;
  }

  .show {
    width: 40.5vw;
  }

  .dropbtn {
    width: 41vw;
    padding: 0.25rem;
    font-size: 0.75rem;
  }
  .total-items {
    padding-left: 81vw;
  }
}
