.product-container {
  display: flex;
  flex-direction: row;
}

.items-container {
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 12vw;
}

.cart-item-container {
  padding-top: 3rem;
}

#classic.cart-item-container {
  padding-top: 0.5rem;
}

.cart-item-title {
  margin: 0;
}

.image-detail-container {
  display: flex;
  flex-direction: row;
}

.image-item-container {
  width: 17vw;
  height: 17.5vw;
}

#vintage1980.image-item-container {
  background: url("../assets/vintage1980.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#classic.image-item-container {
  background: url("../assets/classicGuitar.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.price {
  padding-left: 17.5vw;
  font-size: 1rem;
  font-weight: 700;
}

.color-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#qty.color-container {
  padding-left: 5vw;
  gap: 2rem;
}

.divider {
  max-height: 80vh;
}

.cart {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.shopping-container {
  margin-left: 4vw;
  text-align: center;
  min-width: 36vw;
}

.shopping-cart {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2vh;
}

.total-text {
  font-size: 1.25rem;
  opacity: 0.7;
  margin: 0;
}

.deliver-button-container {
  padding-top: 1rem;
}

.promo-text {
  margin-top: 3.5rem;
  font-size: 1rem;
  margin-bottom: 0;
}
