.cart {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.shopping-container {
  margin-left: 4vw;
  text-align: center;
  min-width: 36vw;
}

.shopping-cart {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2vh;
}

.total-text {
  font-size: 1.25rem;
  opacity: 0.7;
  margin: 0;
}

.deliver-button-container {
  padding-top: 1rem;
}

.promo-text {
  font-size: 1rem;
  margin-bottom: 0;
}

#hide.selected-button {
  display: none;
}

#mobile-show.shopping-cart {
  display: none;
}

#mobile-show.total-text {
  display: none;
}

.delivery-image {
  display: none;
}

/* Large Tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .shopping-container {
    padding-left: 0;
  }
  .divider {
    display: none;
  }
}

/* Tablets */
@media only screen and (max-width: 600px) {
  .divider {
    display: none;
  }

  #mobile-hide.divider {
    display: none;
  }

  #mobile-hide.shopping-container {
    display: none;
  }

  .image-item-container {
    width: 25vw;
    height: 27.5vw;
  }

  #hide.selected-button {
    display: block;
  }

  #classic.cart-item-container {
    padding-bottom: 2rem;
  }
}

/* Most phones */
@media only screen and (min-width: 375px) and (max-width: 428px) {
  #mobile-hide.divider {
    display: none;
  }

  .items-container {
    padding-right: 0;
  }

  #mobile-hide.shopping-container {
    display: none;
  }

  .image-item-container {
    width: 40vw;
    height: 42.5vw;
  }

  .dropbtn {
    padding: 0.35rem;
  }

  #relevancy.dropdown {
    padding-top: 1rem;
  }

  #hide.selected-button {
    display: block;
  }

  #classic.cart-item-container {
    padding-bottom: 2rem;
  }

  #mobile-show.shopping-cart {
    display: block;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }

  #mobile-show.total-text {
    display: block;
    text-align: center;
    font-size: 1rem;
  }

  .delivery-image {
    display: block;
    width: 93vw;
    padding-top: 1rem;
  }

  .cart-item-container {
    padding-top: 2rem;
  }
}

/* Small phones */
@media only screen and (max-width: 375px) {
  #mobile-hide.divider {
    display: none;
  }

  .items-container {
    padding-right: 0;
  }

  #mobile-hide.shopping-container {
    display: none;
  }

  .image-item-container {
    width: 40vw;
    height: 42.5vw;
  }

  .dropbtn {
    padding: 0rem;
  }

  #relevancy.dropdown {
    padding-top: 1rem;
  }

  #hide.selected-button {
    display: block;
  }

  #classic.cart-item-container {
    padding-bottom: 2rem;
  }

  #mobile-show.shopping-cart {
    display: block;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }

  #mobile-show.total-text {
    display: block;
    font-size: 1rem;
  }

  .delivery-image {
    display: block;
    width: 93vw;
    padding-top: 1rem;
  }

  .cart-item-container {
    padding-top: 2rem;
  }
}
