.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.description-container {
  display: inline-flex;
  flex-direction: column;
  padding-top: 3.125rem;
  padding-left: 3vw;
  max-width: 68vw;
  align-items: flex-start;
}

.image-container {
  width: 50vw;
  height: 25vw;

  background: url("../assets/productPicture.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  padding-top: 2rem;
  margin: 0;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.subtext-container {
  margin: 0;
}

.price-container {
  margin-right: 5vw;
  text-align: center;
  min-width: 36vw;
}

.availability-text {
  font-weight: 700;
  color: #33fd01;
  font-size: 1.5rem;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.name-text {
  margin: 0;
  font-size: 1.75rem;
}

.price-text {
  margin: 0;
  padding-top: 0.25rem;
  font-size: 1.5rem;
}

.delivery-container {
  position: relative;
  padding-left: 6vw;
}

.delivery-container img {
  display: block;
}
.delivery-container .fa-crosshairs {
  position: absolute;
  top: 0.7vw;
  left: 30vw;
}

.deliver-button-container {
  padding-left: 3vw;
  padding-top: 1rem;
}

.buy-container {
  opacity: 0.7;
  padding-top: 1rem;
  padding-left: 2vw;
}

.pay-container {
  padding-left: 6vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.review-container {
  padding-top: 3vw;
  display: flex;
  gap: 2.8vw;
  padding-left: 8vw;
}

.review-image {
  font-size: 0.75rem;
}

#mobile-show.availability-text {
  display: none;
}

#mobile-show.name-text {
  display: none;
}

#mobile-show.price-text {
  display: none;
}

/* Large Tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .delivery-measure {
    padding-top: 3.5vw;
  }
  .image-container {
    width: 56vw;
    height: 27vw;
  }

  .subtext-container {
    font-size: 1rem;
  }

  .name-text {
    font-size: 1.25rem;
  }

  .price-text {
    font-size: 1rem;
  }

  .availability-text {
    font-size: 1rem;
  }

  .buy-container {
    font-size: 0.75rem;
  }

  .selected-button {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
  .unselected-button {
    font-size: 0.75rem;
    padding: 0.5rem;
  }

  .review-container {
    padding-left: 2vw;
    gap: 1.5vw;
  }

  .description {
    font-size: 1.5rem;
  }

  .delivery-search {
    font-size: 0.75rem;
  }
}

/* Tablets */
@media only screen and (max-width: 600px) {
  .delivery-measure {
    padding-top: 3.5vw;
  }

  .image-container {
    width: 56vw;
    height: 27vw;
  }

  .name-text {
    font-size: 1.25rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .availability-text {
    font-size: 1rem;
  }

  .price-text {
    font-size: 1rem;
  }

  .subtext-container {
    font-size: 1rem;
  }

  .buy-container {
    font-size: 0.75rem;
  }

  .selected-button {
    padding: 0.5rem;
    font-size: 0.75rem;
  }
  .unselected-button {
    font-size: 0.75rem;
    padding: 0.5rem;
  }

  .review-container {
    padding-left: 2vw;
    gap: 1vw;
    flex-direction: column;
  }

  .pay-container {
    flex-direction: column;
    gap: 1vw;
  }

  .delivery-search {
    font-size: 0.65rem;
  }

  .review-image {
    max-width: 70%;
    padding-left: 1.75rem;
  }
}

/* Most phones */
@media only screen and (min-width: 375px) and (max-width: 428px) {
  .delivery-measure {
    padding-top: 3.5vw;
  }

  .name-text {
    font-size: 1rem;
  }

  .description {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
  }

  .availability-text {
    font-size: 0.8rem;
  }

  .price-text {
    font-size: 0.8rem;
  }

  .subtext-container {
    font-size: 0.8rem;
  }

  .buy-container {
    font-size: 0.65rem;
  }

  .selected-button {
    padding: 0.75rem;
    font-size: 0.75rem;
    min-width: 40vw;
  }

  .unselected-button {
    padding: 0.75rem;
    font-size: 0.75rem;
    min-width: 40vw;
  }

  .review-container {
    padding-left: 1.75vw;
    gap: 4vw;
    flex-direction: row;
  }

  .delivery-search {
    font-size: 0.55rem;
  }

  .review-image {
    padding-left: 1.25rem;
  }

  .pay-container {
    padding-top: 0.75rem;
    flex-direction: row;
    gap: 2vw;
  }

  .description-container {
    padding-top: 0;
    max-width: 100vw;
  }

  .image-container {
    width: 94vw;
    height: 45vw;
  }

  .container {
    flex-direction: column;
  }

  #hide.subtext-container {
    display: none;
  }

  #mobile-show.availability-text {
    padding-top: 0;
    display: block;
  }

  #mobile-show.name-text {
    display: block;
  }

  #mobile-show.price-text {
    display: block;
    padding-bottom: 0.25rem;
  }

  #mobile-hide.availability-text {
    display: none;
  }

  #mobile-hide.name-text {
    display: none;
  }

  #mobile-hide.price-text {
    display: none;
  }

  .delivery-measure {
    display: none;
  }

  .deliver-button-container {
    display: none;
  }
}

/* Small phones */
@media only screen and (max-width: 375px) {
  .delivery-measure {
    padding-top: 3.5vw;
  }

  .name-text {
    font-size: 1rem;
  }

  .description {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
  }

  .availability-text {
    font-size: 0.8rem;
  }

  .price-text {
    font-size: 0.8rem;
  }

  .subtext-container {
    font-size: 0.8rem;
  }

  .buy-container {
    font-size: 0.65rem;
  }

  .selected-button {
    padding: 0.75rem;
    font-size: 0.75rem;
    min-width: 40vw;
  }
  .unselected-button {
    padding: 0.75rem;
    font-size: 0.75rem;
    min-width: 40vw;
  }

  .review-container {
    padding-left: 1.75vw;
    gap: 4vw;
    flex-direction: row;
  }

  .review-image {
    padding-left: 1.25rem;
  }

  .delivery-search {
    font-size: 0.5rem;
  }

  .pay-container {
    padding-top: 0.75rem;
    flex-direction: row;
    gap: 2vw;
  }

  .description-container {
    padding-top: 0;
    max-width: 100vw;
  }

  .image-container {
    width: 94vw;
    height: 45vw;
  }

  .container {
    flex-direction: column;
  }

  #hide.subtext-container {
    display: none;
  }

  #mobile-show.availability-text {
    padding-top: 0;
    display: block;
  }

  #mobile-show.name-text {
    display: block;
  }

  #mobile-show.price-text {
    display: block;
    padding-bottom: 0.25rem;
  }

  #mobile-hide.availability-text {
    display: none;
  }

  #mobile-hide.name-text {
    display: none;
  }

  #mobile-hide.price-text {
    display: none;
  }

  .delivery-measure {
    display: none;
  }

  .deliver-button-container {
    display: none;
  }
}
