.required-field-text {
  color: #868e96;
  font-size: 0.7rem;
}

.steps-container {
  display: flex;
  gap: 0.75rem;
}

.steps-text {
  font-size: 1rem;
}

.input-container {
  display: flex;
  gap: 1.5rem;
}

#footer.input-container {
  gap: 12vw;
}

.float-container {
  border: 1px solid #eeeff0;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  position: relative;
  min-width: 25vw;
}

.float-container input {
  border: none;
  font-size: 1rem;
  outline: 0;
  padding: 1rem 0 0.7rem;
  width: 100%;
}

.crosshairs {
  border: none;
  font-size: 1rem;
  outline: 0;
  padding: 1rem 0 0.7rem;
  width: 100%;
  background: url(../assets/crosshairs.svg) no-repeat scroll 7px 7px;
  background-position: 21vw 11px;
}

.float-container label {
  font-size: 1rem;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 1rem) scale(1);
  transition: all 0.1s ease-in-out;
  color: #868e96;
}
.float-container.active label {
  font-size: 1rem;
  color: #868e96;
  transform: translate(0, 0.25rem) scale(0.75);
}

.container {
  display: block;
  position: relative;
  padding-left: 2.1rem;
  margin-bottom: 0.75px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #0a0a0a;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.5vw;
  top: 0.3vw;
  width: 0.3vw;
  height: 0.5rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.step3-text {
  font-size: 1rem;
}

.add-payment-container {
  width: 33.5vw;
  min-height: 35vw;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.wallet-container {
  display: flex;
  padding-left: 1vw;
  padding-top: 1vw;
  gap: 0.5vw;
}

.card-dets-input {
  min-width: 30vw;
  min-height: 4vw;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
}

.card-dets-input::placeholder {
  font-size: 1rem;
  padding-left: 1vw;
}

#footer.card-dets-input {
  min-width: 12.6vw;
}

.year-container {
  display: flex;
  gap: 2vw;
  margin-left: 1.75rem;
}

.info {
  cursor: pointer;
}

.info:hover {
  opacity: 0.7;
}

.button-container {
  padding-top: 1rem;
  padding-left: 4vw;
  gap: 1rem;
  display: flex;
}

.additional-street {
  padding-left: 2rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.additional-street:hover {
  opacity: 0.8;
}

#mobile-show.required-field-text {
  display: none;
}

/* Large Tablets */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  #address.summary-text {
    font-size: 1.75rem;
  }

  #confirmation.summary-text {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .add-payment-container {
    min-height: 48vw;
    width: 38vw;
  }

  .card-dets-input {
    height: 6vw;
  }

  #footer.card-dets-input {
    width: 16vw;
  }

  .year-container {
    gap: 2vw;
    margin-left: 0.75rem;
  }

  .tab-container {
    display: flex;
  }

  .float-container label {
    font-size: 0.9rem;
  }

  .divider {
    max-height: 100vh;
  }

  #footer.input-container {
    display: block;
  }

  .container .checkmark:after {
    left: 1vw;
    top: 0.5vw;
    width: 0.6vw;
  }

  .tab-des {
    padding-top: 1rem;
  }

  .divider {
    display: none;
  }

  #checkout-page.items-container {
    padding-right: 0;
  }

  .card-dets-input {
    min-width: 34vw;
  }

  .unselected-button {
    width: 17vw;
  }

  .selected-button {
    width: 17vw;
  }

  .button-container {
    padding-left: 0.5rem;
  }

  .crosshairs {
    background-position: 19vw 11px;
  }
}

/* Tablets */
@media only screen and (min-width: 428px) and (max-width: 600px) {
  #address.summary-text {
    font-size: 1.75rem;
  }

  #confirmation.summary-text {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .add-payment-container {
    min-height: 48vw;
    width: 38vw;
  }

  .card-dets-input {
    min-width: 34vw;
  }

  .card-dets-input {
    height: 6vw;
  }

  #footer.card-dets-input {
    width: 16vw;
  }

  .year-container {
    gap: 2vw;
    margin-left: 0.75rem;
  }

  .tab-container {
    display: flex;
  }

  .float-container label {
    font-size: 0.9rem;
  }

  .divider {
    max-height: 100vh;
  }

  #footer.input-container {
    display: block;
  }

  .container .checkmark:after {
    left: 1vw;
    top: 0.5vw;
    width: 0.6vw;
  }

  .tab-des {
    padding-top: 1rem;
  }

  .divider {
    display: none;
  }

  #checkout-page.items-container {
    padding-right: 0;
  }

  .unselected-button {
    width: 17vw;
  }

  .selected-button {
    width: 17vw;
  }

  .button-container {
    padding-left: 0.5rem;
  }

  .crosshairs {
    background-position: 19vw 11px;
  }
}

/* All phones */
@media only screen and (max-width: 428px) {
  #address.summary-text {
    font-size: 1.25rem;
    padding-bottom: 0.75rem;
  }

  .input-container {
    flex-direction: column;
    gap: 0;
  }

  .divider {
    display: none;
  }

  .product-container {
    flex-direction: column;
  }

  #mobile-hide.required-field-text {
    display: none;
  }

  #mobile-show.required-field-text {
    display: block;
  }

  .additional-street {
    padding-left: 0;
  }

  .container .checkmark:after {
    left: 2.5vw;
    top: 1.3vw;
    width: 0.6vw;
  }

  #footer.input-container {
    gap: 5vw;
  }

  #confirmation.summary-text {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .add-payment-container {
    width: 92vw;
    height: 84vw;
  }

  .wallet-container {
    gap: 1.5vw;
  }

  .card-dets-input {
    width: 73vw;
    min-height: 10vw;
  }

  #footer.card-dets-input {
    width: 36vw;
  }

  .year-container {
    display: flex;
    gap: 6vw;
  }

  .unselected-button {
    width: 40vw;
  }

  .selected-button {
    width: 40vw;
  }

  .crosshairs {
    background-position: 83vw 11px !important;
  }
}
